* {
  font-family: 'Lato', sans-serif;
  word-wrap: break-word;
  box-shadow: none;
}

html {
  font-size: 14px;
}

header{
  position: fixed;
  width: 100%;
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  transition: all 1s linear;
}

main{
  overflow-x: hidden;
}

.header.white{
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 1s linear;
}
.header.white .logo-text{
  color: black;
  transition: color 1s linear;
}
.header.black{
  background-color: rgba(0,0,0,0.5);
  transition: all 1s linear;
}

.header.black .shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(255,255,255,0.1)!important;
  transition: all 1s linear;
}

/*

Nav Bar

*/
.navbar-link-container{
  display: none;
}
.navbar-link-container a{
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  margin: 0 15px;
}

.navbar-link-container a:before {
  content: "";
  position: absolute;
  width: calc(4px + 100%);
  height: 2px;
  bottom: -3px;
  left: -2px;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.black .navbar-link-container a:before {
  background-color:white;
}

.navbar-link-container a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.black .navbar-link-container a{
  color: rgb(241, 241, 241);
  transition: all 1s linear;
}

.black .navbar-link-container a:hover{
  color: white;
  transition: all 1s linear;
}

.white .navbar-link-container a{
  color: #717171;
  transition: all 1s linear;
}

.white .navbar-link-container a:hover{
  color: black;
  transition: all 1s linear;
}

/*

End Nav Bar

*/

*:focus{
  outline: none!important;
  box-shadow: none!important;
}

.logo-text{
  font-size: 0.8rem;
  transition: color 1s linear;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header-menu {
  height: 52px;
}
.jumbotron {
  background-color: black!important;
  padding: 0;
  position: relative;
  margin: 0;
}
h1.jumbotron-heading {
  margin-bottom: 40px;
}
.jumbotron-heading {
  padding: 0;
}
.email-form {
  margin-top: 20px;
}
.btn {
  background: #22c1c3;
  border-color: #ffffff;
  padding: 18px 36px;
  border-radius: 12px;
  border: 0;
}

#inputEmail {
  display: inline-block;
  max-width: 190px;
  height: 45px;
  font-size: 14px;
  box-shadow: none;
  border: solid 1px #d2d2d2;
  border-right: transparent;
}

.email-submit{
  text-align: center;
  padding: 10px 20px;
  margin: 30px auto;
}

#submit-email{
  font-size: 14px;
  padding: 12px 20px;
  margin: 0px -24px!important;
  vertical-align: top;
  border-radius: 0 40px 40px 0;
}

#video{
  background: black;
  height: 100vh;
  width: auto;
  margin-left: 50vw;
  transform: translate(-50%);
  z-index: 0;
}

.container-video-info{
  background: #00000094;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.video-info{
  margin: auto;
  text-align: center;
}

.video-info-title{
  color: white;
  font-weight: bold;
  font-size: 38px;
  max-width: 310px;
  text-align: center;
  word-break: break-word;
  margin: auto;
}

.video-info-sub-title{
  color: white;
  font-size: 17px;
}

.video-text{
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
}

.btn-get-started{
  padding: 2px 8px;
  font-size: 0.8rem;
  border-radius: 30px;
  background: #f7f7f7;
}

.get-started-video-text{
  font-size: 25px;
  padding: 10px 50px 0 0;
  top: -9px;
  display: block;
  position: relative;
}

.get-started-video-icon{
  color: white;
  display: block;
  font-size: 50px;
  top: 8px;
  right: 15px;
  position: absolute;
  transition: all 0.4s;
}

.btn-watch-now{
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  color: white;
  padding: 12px 22px;
  position: relative;
  font-size: 0.7rem;
  border-radius: 22px;
  background: #6160603b;
  transition: all 0.4s;
}
.btn-watch-now:hover{
  backdrop-filter:blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  color: black;
  background: #f7f7f7d1;
}

.btn-watch-now:hover .get-started-video-icon{
  color: #131313;
}

.btn-primary.btn:hover,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #22c1c3;
  border-color: #ffffff;
}
.header-icon {
  width: 13px;
  margin: -1px 2px 0px 0px;
}
p {
  color: #8e9aa3;
  font-size: 1.2rem;
}

.feature-container{
  padding: 50px 0;
}

.feature-title-text{
  font-weight: bold;
}

.coming-soon-title-text{
  font-size: 40px;
  letter-spacing: -2px;
  line-height: 40px;
  font-weight: bold;
}

.feature-sub-text{
  margin: 0px auto auto auto;
  max-width: 500px;
}

.socialnetworkimg{
  margin-top: 25px;
  width: 80%;
}

/*

  FAQ Section

*/

.faq-feature{
  background-color: #f7f9fc;
  border-radius: 16px;
  padding: 60px 20px;
}

.faq-question{
  margin: 0 0 0 60px;
}

/*
    Arrow Icon
*/
:root {
  --faq-feature-background: #f7f9fc;
  --background: white;
  --iconColor: #7b1e78;
  --iconTop: 13px;
  --iconLeft: 13px;
  --easing: cubic-bezier(.25,1.7,.35,.8);
  --duration: 0.5s;
}
.arrow-icon {
  background-color: var(--faq-feature-background);
  position: relative;
  cursor: pointer;
}

.left-bar {
  position: absolute;
  background-color: transparent;
  top: var(--iconTop);
  left: 0;
  width: 20px;
  height: 5px;
  display: block;
  transform: rotate(35deg);
  float: right;
  border-radius: 1px;
}

.left-bar:after {
  content:"";
  background-color: var(--iconColor);
  width: 20px;
  height: 5px;
  display: block;
  float: right;
  border-radius: 6px 5px 5px 6px;
  transition: all var(--duration) var(--easing);
  z-index: -1;
}

.right-bar {
  position: absolute;
  background-color: transparent;
  top: var(--iconTop);
  left: var(--iconLeft);
  width: 20px;
  height: 5px;
  display: block;
  transform: rotate(-35deg);
  float: right;
  border-radius: 1px;
}
.right-bar:after {
  content:"";
  background-color: var(--iconColor);
  width: 20px;
  height: 5px;
  display: block;
  float: right;
  border-radius: 5px 6px 6px 5px;
  transition: all var(--duration) var(--easing);
  z-index: -1;
}

.open .left-bar:after {
  transform-origin: center center;
  transform: rotate(-34deg);
}
.open .right-bar:after {
  transform-origin: center center;
  transform: rotate(34deg);
}

/* 

End Arrow Icon

*/

.place-of-honor{
  border-radius: 10px;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.23);
  margin: 100px 0 300px 0;
  width: 100%;
}

.digystar-logo{
  text-align: center;
  margin: auto;
}

.digystar-logo .header-icon{
  margin-bottom: 2px;
}

/* Start Acordion */

.accordion {
  background-color: #f7f9fc;
  color: #444;
  cursor: pointer;
  padding: 30px 0px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.panel {
  padding: 0 18px;
  max-height: 0;
  opacity: 0;
  background-color: #f7f9fc;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.25s ease-out;
}

.active.panel {
  max-height: 300;
  opacity: 1;
  transition: max-height 0.35s ease-out, opacity 0.25s ease-out;
}

/*   End Acordions  */ 

/*

  Footer

*/

.footer-menu-link{
  color: #8e9aa3;
}

.footer-menu-link:hover{
  color: #8e9aa3;
}

/*   End Footer  */ 

/*

  Team Page

*/
#team-feature{
  margin-top: 100px;
}
.team-container{
  display: flex;
  flex-flow: row;
  padding: 0;
  border-radius: 4px;
  margin: 80px 0 100px 0;
  height: 300px;
  width: auto;
  justify-content: flex-end;
}
.team-article{
  margin-right: 4px;
  margin-bottom: 8px;
  min-width: 30px;
  text-align: center;
  color: white;
  border-radius: 4px;
  padding: 4px;
  flex: 1 1 80px;
  order: 0;
}
.team-container .team-article .team-img{
  border-radius: 50%;
  width: 100%;
  max-width: 160px;
  border: 1px #eaeaea solid;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}
.team-text-container{
  color: black;
  margin: 25px 0 80px 0;
}
.team-text{
  color: black;
}
/*

  end Team section

*/

@media (min-width: 576px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
  .header-icon {
    width: 14px;
    margin-bottom: -2px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
  .navbar-link-container{
    display: block;
  }
  .video-info-title{
    font-size: 48px;
    max-width: 500px;
  }
  .get-started-video-text{
    font-size: 45px;
    padding: 20px 122px 0 0;
    top: -11px;
    display: block;
    position: relative;
  }
  .btn-get-started{
    font-size: 0.7rem;
  }
  .get-started-video-icon{
    color: white;
    display: block;
    font-size: 100px;
    top: 4px;
    right: 30px;
    position: absolute;
    transition: all 0.4s;
  }
  .feature-container{
    padding: 300px 0;
  }
  .feature-sub-text{
    margin: 20px auto auto auto;
    max-width: 600px;
  }
  .place-of-honor{
    border-radius: 20px;
  }
  .socialnetworkimg{
    margin-top: 0px;
  }
  .coming-soon-title-text{
    font-size: 73px;
    letter-spacing: -2px;
    line-height: 80px;
    font-weight: bold;
  }
  .email-submit{
    text-align: center;
    padding: 10px 20px;
    margin: 60px auto;
  }
  #inputEmail {
    font-size: 18px;
    height: 59px;
    max-width: 400px;
  }
  #submit-email{
    font-size: 18px;
    padding: 16px 20px;
    margin: 0px -24px!important;
    vertical-align: top;
    border-radius: 0 40px 40px 0;
  }
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
